@media (min-width: 1400px) {
  .login-logo {
    width: 28em;
  }
}
@media (min-width: 1200px) {
  .login-logo {
    width: 20em;
  }
}
@media (min-width: 1024px) {
  .login-logo {
    width: 20em;
  }
}
@media (min-width: 850px) {
  .login-logo {
    width: 20em;
  }
}
@media (min-width: 720px) {
  .login-logo {
    width: 20em;
  }
}
@media (min-width: 640px) {
  .login-logo {
    width: 20em;
  }
}
@media (min-width: 512px) {
  .login-logo {
    width: 20em;
  }
}
@media (min-width: 320px) {
  .login-logo {
    width: 18em;
  }
}
